body {
    background-color: #211a1b; /* Warna latar belakang */
    font-family: 'Roboto', sans-serif; /* Ganti dengan font yang diinginkan */
    margin: 0;
    padding: 0;
}
.header-text {
    position: absolute; /* Menempatkan teks secara absolut */
    top: 16px; /* Jarak dari atas */
    left: 16px; /* Jarak dari kiri */
    z-index: 10; /* Menempatkan teks di atas container */
    color: #fff; /* Warna teks */
}
.container {
    background-color: #211a1b; /* Warna background container */
    color: #e0d0d0; /* Warna teks dalam container */
    padding: 1.5rem; /* Padding dalam container */
    border-radius: 0.75rem; /* Border radius */
    max-width: 90%; /* Maksimum lebar container */
    width: 768px; /* Lebar container di layar besar */
    margin: auto; /* Tengah secara horizontal */
    margin-top: 80px; /* Jarak atas */
}
.form-input, .form-select, .form-textarea {
    background-color: #3c2e30; /* Warna background input */
    color: #e0d0d0; /* Warna teks */
    border: 1px solid #645151; /* Warna border */
    outline: none; /* Menghilangkan outline default */
    width: 100%; /* Lebar penuh */
    padding: 0.75rem; /* Padding input */
    margin-bottom: 1rem; /* Margin bawah */
    border-radius: 0.25rem; /* Border radius */
}
.form-input:focus, .form-select:focus, .form-textarea:focus {
    border-color: #fab3bc; /* Warna border saat focus */
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #3c2e30; /* Warna background dropdown */
    color: #e0d0d0; /* Warna teks dropdown */
    border: 1px solid #645151; /* Warna border dropdown */
    padding: 0.75rem; /* Padding dropdown */
    border-radius: 0.25rem; /* Border radius */
    width: 100%; /* Lebar penuh */
    margin-bottom: 1rem; /* Margin bawah */
}
.btn-custom {
    background-color: #fab3bc; /* Warna background kustom */
    color: #211a1b; /* Warna teks */
    border: none; /* Tanpa border */
    padding: 0.75rem 1.5rem; /* Padding tombol */
    border-radius: 0.25rem; /* Border radius */
    cursor: pointer; /* Pointer saat hover */
    font-weight: bold; /* Tebal font */
    transition: background-color 0.3s; /* Transisi warna background */
}
.btn-custom:hover {
    background-color: #f898a3; /* Warna saat hover */
}
.btn-custom:focus {
    outline: none; /* Menghilangkan outline default saat focus */
    background-color: #f898a3; /* Warna saat focus */
}